*.class
*.log
/project/project/target/
/project/target/
/target/
/target/scala-2.12/classes/
.metals
.vscode
.bloop
delta-table
data-lake
project
transactions2.json
jars
setup_env.sh
/src/main/resources/application.conf 
.venv
temp
cmd.sh
/metastore_db/
